@font-face {
	font-family: "Young Serif";
	src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
	font-family: "Outfit";
	src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
}

body {
	margin: 0;
	background-color: hsl(30, 54%, 90%);
	padding: 10% 20%;
}

p {
	font-size: 16px;
}

img {
	border-radius: 30px;
}

h1 {
	font-size: 55px;
	font-family: "Young Serif", sans-serif;
}

table {
	border: 1px solid black;
	width: 100%;
}

hr {
	border: 1px solid black;
	width: 100%;
}

li {
	padding-left: 1.5em;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

#card {
	background-color: white;
	padding: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50px;
}

#first-container {
	width: 100%;
}

#preparation-container {
	background-color: hsl(330, 100%, 98%);
	padding: 20px;
	border-radius: 30px;
	width: 100%;
	& h3 {
		color: hsl(332, 51%, 32%);
	}
}

#ingredients-container {
	width: 100%;
}

#instructions-container span {
	width: 100%;
	font-weight: bold;
}

#nutrition-container {
	width: 100%;
}
