:root {
	--color-white: hsl(0, 0%, 100%);
	--color-stone-100: hsl(30, 54%, 90%);
	--color-stone-150: hsl(30, 18%, 87%);
	--color-stone-600: hsl(30, 10%, 34%);
	--color-stone-900: hsl(24, 5%, 18%);
	--color-brown-800: hsl(14, 45%, 36%);
	--color-rose-800: hsl(332, 51%, 32%);
	--color-rose-50: hsl(330, 100%, 98%);
	--color-blue-500: hsl(228, 45%, 44%);

	--ff-outfit: "Outfit", sans-serif;
	--ff-young-serif: "Young Serif", serif;
}

@font-face {
	font-family: "Young Serif";
	src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
	font-family: "Outfit";
	src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: var(--ff-outfit);
	margin: 0;
}

body {
	background-color: var(--color-stone-100);
	padding: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
}

p {
	font-size: 16px;
	margin: 0;
}

img {
	border-radius: 15px;
	width: 100%;
	height: auto;
	max-height: 500px;
	object-fit: cover;
	margin-bottom: 32px;
}

h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;
}

h1 {
	font-size: 2.8rem;
	font-family: var(--ff-young-serif);
	color: var(--color-stone-900);
	margin-bottom: 18px;
}

h2 {
	font-size: 1.6rem;
	font-family: var(--ff-young-serif);
	color: var(--color-brown-800);
	margin-bottom: 16px;
}

h3 {
	font-size: 1.1rem;
	color: var(--color-rose-800);
	margin-bottom: 12px;
	font-weight: 700;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 16px;
}

table tr {
	width: 100%;
	border-bottom: 1px solid var(--color-stone-150);
}

table td {
	width: 50%;
	padding: 12px 0;
	padding-left: 30px;
}

table th {
	width: 50%;
	padding: 12px 0;
	text-align: left;
	color: var(--color-brown-800);
	font-weight: 700;
}

li {
	padding-left: 1.5em;
}

.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 32px;
	color: var(--color-stone-600);
	& a {
		color: var(--color-blue-500);
	}
}

#card {
	background-color: white;
	padding: 40px;
	max-width: 750px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	box-shadow: 0 4px 32px rgba(0, 0, 0, 0.04);
}

#first-container {
	width: 100%;
}

#preparation-container {
	background-color: var(--color-rose-50);
	padding: 24px 32px;
	border-radius: 15px;
	width: 100%;
	margin: 30px 0;
}

#preparation-container ul {
	margin: 0;
	padding-left: 22px;
}

#preparation-container li {
	color: var(--color-rose-800);
	margin-bottom: 6px;
}

#preparation-container span {
	font-weight: 600;
}

#ingredients-container {
	width: 100%;
	border-bottom: 1px solid var(--color-stone-150);
	margin-bottom: 30px;
	padding-bottom: 20px;
}

#ingredients-container ul {
	padding-left: 20px;
}

#ingredients-container li {
	color: var(--color-stone-600);
	margin-bottom: 10px;
}

#instructions-container {
	width: 100%;
	border-bottom: 1px solid var(--color-stone-150);
	margin-bottom: 30px;
	padding-bottom: 20px;
}

#instructions-container ol {
	padding-left: 22px;
}

#instructions-container li {
	margin-bottom: 16px;
	color: var(--color-stone-600);
}

#instructions-container li::marker {
	font-weight: bold;
}

#instructions-container span {
	font-weight: 700;
	color: var(--color-brown-800);
}

#nutrition-container {
	width: 100%;
	color: var(--color-stone-600);
}
